body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', cursive, sans-serif;
  background-color: #fafafa;
}

.clear {
  clear: both;
}

@media(min-width: 768px) {

.react-datepicker {
  font-size: 12px;
  font-weight: 400;
  color: #d7d7d7 !important;
  font-family: 'Roboto';
}
.react-datepicker__input-container {
  display: block;
}
// shared
.btn-log-sign {
  margin-bottom: 13px;
  .btf-fb, .btn-gg {
    height: 40px;
    border-radius: 3px;
    background-color: #4267b2;
    color: #fff;
    font-weight: 600;
    outline: none;
    box-shadow: none;
  }
  .btn-gg {
    background-color: #fff;
    border-color: #dedede;
    color: #909090;
  }
}

.log-sign-form {
  .error {
    .frm_inpt {
      border-color: #ef5736 !important;
    }
    ._err {
      text-align: right;
      display: block !important;
      -webkit-transition: all 2s ease-in-out;
      -moz-transition: all 2s ease-in-out;
      transition: all 2s ease-in-out;
      .seru {
        position: absolute;
        margin-top: -30px;
        width: 20px;
        height: 20px;
        background-color: #ef5736;
        text-align: center;
        border-radius: 100%;
        color: #fff;
        font-weight: bold;
        font-size: 12px;
        padding-top: 2px;
        margin-left: -30px;
      }
    }
  }
  .form-group {
    .frm_inpt {
      height: 40px;
      box-shadow: none;
      outline: none;
      border-radius: 3px;
      color: #a2a2a2;
      border-color: #dedede;
    }
    .bt-rg {
      height: 40px;
      color: #fff;
      font-weight: 600;
      outline: none;
      border-radius: 3px;
      background-color: #2196F3;
      border: 1px solid rgba(6, 114, 199, 0.7);
    }
    ._err {
      display: none;
    }
  }
  .info {
    text-align: center;
    .df {
      color: #626262;
      font-weight: 400;
      a {
        text-decoration: none;
        font-weight: 600;
        color: #626262;
      }
    }
    .or {
      font-weight: 600;
      font-size: 13px;
    }
  }
  .foj {
    margin-bottom: 15px;
  }
}

//Signup
.signup-pg {
    background-color: #f4f4f5;
    width: 100%;
    overflow-y: hidden;
    min-height: 654px;
    padding-top: 50px;
    .titl {
      text-align: center;
      .text-center {
        margin: 0px;
        font-family: 'Caveat', cursive;
        font-weight: 700;
        font-size: 3em;
        color: #2196F3;
        -webkit-text-stroke: 1px rgba(6, 114, 199, .7);
        margin-bottom: 10px;
      }
      .sub-ca {
        color: #626262;
        font-size: 18px;
        font-weight: 300;
      }
    }
    .lf_ {
      text-align: right;
      padding-top: 161px;
      ul {
        width: 40%;
        float: right;
        li {
          @extend .btn-log-sign;
        }
      }
    }
    .rg_ {
      padding-top: 50px;
      padding-left: 30px;
      form {
        width: 50%;
        @extend .log-sign-form;
      }
    }
    .center_ {
      padding: 50px 38%;
      ul {
        li {
          @extend .btn-log-sign;
        }
      }
      form {
        text-align: center;
        @extend .log-sign-form;
      }
    }
  }

// Navbar
.costume-navbar {
    border-radius: 0px;
    background-color: #fff !important;
    border-bottom-color: #d6d6d6;
    margin-bottom: 0px;
    .top {
      padding-left: 13%;
      padding-right: 13%;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      height: 65px;
      justify-content: center;
      border-bottom: 1px solid #e8e8e8;
      .lf_nav {
        -webkit-box-flex: 1;
        -ms-flex: 1 9999 0%;
        flex: 1 9999 0%;
        min-width: 40px;
        padding-top: 4px;
        .navbar-brand {
          margin: 0px;
          font-family: 'Caveat', cursive;
          font-weight: 700;
          font-size: 2em;
          color: #cc181e;
          // -webkit-text-stroke: 1px rgba(6, 114, 199, 0.7);
          outline: none;
        }
      }
      .center_nav {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        min-width: 125px;
        width: 350px;
        form {
          padding-top: 15px;
          .src {
            width: 350px;
            box-shadow: none;
            outline: none;
            border-radius: 2px;
            color: #ababab;
            font-size: 13px;
            font-weight: 400;
            border-color: #e6e6e6;
            background-color: #fbfbfb;
            padding-bottom: 8px;
            padding-left: 40px;
          }
          .fa-search {
            position: absolute;
            margin-top: -25px;
            margin-left: 10px;
            color: #c3c3c3;
            &::after {
              content: "";
              position: absolute;
              width: 1px;
              height: 16px;
              background-color: #ababab;
              margin-left: 8px;
            }
          }
        }
      }
      .rg_nav {
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        li {
          .satya {
            outline: none;
            background-color: transparent !important;
            .icon {
              font-size: 24px;
              color: #757575;
            }
            .ion-ios-box-outline {
              font-size: 26px;
            }
            .ion-ios-heart-outline {
              font-size: 22px;
            }
            .bg_profile {
              width: 20px;
              height: 19px;
              position: absolute;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              border-radius: 3px;
              margin-top: -9px;
              // border: 1px solid #d0d0d0;
            }
          }
        }
        .fgt {
          &:after {
            content: "\F104";
            font-family: 'Ionicons';
            position: absolute;
            right: 6px;
            font-size: 9px;
            margin-top: -34px;
            color: #757575;
          }
        }
      }
    }
    .bottom {
      padding-left: 13%;
      padding-right: 11%;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      .main-menu {
        margin: 0;
        display: flex;
        flex: 1;
        justify-content: space-between;
        .category {
          a {
            color: #626262;
            font-weight: 400;
            font-size: 14px;
            text-transform: capitalize;
            padding-left: 15px;
            padding-right: 15px;
            outline: none;
          }
        }
        .category_hover {
          &:after {
            position: absolute;
            width: 100%;
            background-color: #cc181e;
            content: '';
            height: 2px;
            margin-top: -2px;
            visibility: hidden;
          }
        }
        .category_hover_2 {
          &:after {
            visibility: visible;
            -webkit-transition-delay: 1s;
            -moz-transition-delay: 1s;
            -o-transition-delay: 1s;
            transition-delay: 1s;
          }
        }
      }
    }
  }

.dropdown_ {
  padding: 0px 30px;
  visibility: hidden;
  position: absolute;
  z-index: 999;
  width: 100%;
  .drp_container {
    background-color: #fff;
    min-height: 460px;
    max-height: 500px;
    border: 1px solid #d6d6d6;
    border-top: none;
    display: flex;
    flex-direction: row;
    .drp_1 {
      flex: 1;
      border-right: 1px solid #ebebeb;
      .let-dropdown {
        padding: 3px 0px;
        .drp_left_container{
          padding: 8px 20px;
          border-top: 1px solid transparent;
          border-bottom: 1px solid transparent;
          a {
            font-weight: 400;
            text-decoration: none;
            text-transform: capitalize;
            color: #626262;
            outline: none;
          }
          .icon {
            font-size: 14 px;
            color: #626262;
          }
        }
        .drp_hover {
          background-color: #f7f7f7;
          border-top: 1px solid #f1f1f1;
          border-bottom: 1px solid #f1f1f1;
        }
      }
    }
    .drp_2 {
      flex: 3.5;
      border-right: 1px solid #ebebeb;
      padding: 3px 20px;
      .section_container {
        padding: 0px;
        margin: 0px;
        min-height: 460px;
        .by_ur_self {
          padding: 8px 0px;
          a {
            font-weight: 400;
            text-decoration: none;
            text-transform: capitalize;
            color: #626262;
            outline: none;
          }
          .subsection {
            padding-left: 20px;
            padding-top: 5px;
          }
        }
      }
      .column_2 {
        -moz-column-count:2;
        -webkit-column-count:2;
        column-count:2;
      }
      .column_3 {
        -moz-column-count:3;
        -webkit-column-count:3;
        column-count:3;
      }
    }
    .drp_3 {
      flex: 1;
      .img_cat {
        padding: 10px;
        .img_cov {
          width: 100%;
          height: 180px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
          -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
        }
        .pad_text_1 {
          text-align: center;
          padding-top: 10px;
          .text_1 {
            color: #c1c1c1;
            font-weight: 300;
            font-size: 12px;
            margin-bottom: 0px;
          }
          .text_2 {
            color: #3a3a3a;
            font-weight: 500;
            font-size: 16px;
            text-transform: capitalize;
          }
        }
      }
    }
    .clm_3 {
      flex: 4.7;
      .blts {
        -moz-column-count:3;
        -webkit-column-count:3;
        column-count:3;
        li {
          background-color: rgba(255, 255, 255, 0) !important;
          border: none !important;
        }
      }
    }
  }
}
.dropdown_show {
  visibility: visible;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

.header_home {
  .img_header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 370px;
    .img_cover {
      position: absolute;
      width: 100%;
      height: 370px;
      background-color: rgba(0,0,0,.05);
      padding: 0px 14%;
      .section_txt {
        padding-top: 60px;
        padding-right: 47%;
        .txt_header {
          font-size: 27px;
          font-weight: 400;
          line-height: 38px;
          font-family: 'Noto Serif', serif;
          margin-bottom: 20px;
          letter-spacing: .5px;
        }
        .btn-explore {
          background-color: #cc181e;
          padding: 12px 35px;
          border-radius: 3px;
          font-family: 'Noto Serif', serif;
          outline: none;
          font-size: 12px;
          font-weight: 700;
          color: #fff;
          border: none;
        }
      }
    }
  }
}

.main-dashboard {
  width: 100%;
  .content {
    background-color: #fafafa !important;
    .left-navbar {
      width: 16.5%;
      background-color: #ffffff;
      -webkit-box-shadow: 2px 1px 60px 10px rgba(0, 0, 0, 0.04);
      -moz-box-shadow: 2px 1px 60px 10px rgba(0, 0, 0, 0.04);
      box-shadow: 2px 1px 60px 10px rgba(0, 0, 0, 0.04);
      border-right: 1px solid #efefef;
      position: fixed;
      .logo {
        padding: 15px 20px;
        // border-bottom: 1px solid #eaeaea;
        .logo_text {
          font-size: 18px;
          font-weight: bold;
          color: #626262;
          .u {
            color: #31e4a3;
          }
        }
        .icon {
          font-size: 23px;
          color: #d2d2d2;
          margin-top: -2px;
        }
      }
      .profile_pc {
        display: flex;
        flex: 1;
        flex-direction: row;
        padding: 10px 20px;
        .pro_img {
          flex: .45;
          .anjay {
            width: 70px;
            height: 70px;
            border-radius: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 0 auto;
            text-align: right;
            .edt {
              padding-top: 50px;
              padding-right: 0px;
              .icn {
                .icon {
                  background-color: #fff;
                  padding: 5px 8px;
                  -webkit-box-shadow: 4px 7px 20px -9px rgba(0, 0, 0, 0.75);
                  -moz-box-shadow: 4px 7px 20px -9px rgba(0, 0, 0, 0.75);
                  box-shadow: 4px 7px 20px -9px rgba(0, 0, 0, 0.75);
                  border-radius: 100%;
                  text-align: center;
                  border: 1px solid #fbfbfb;
                  color: #b5c2c8;
                }
              }
            }
          }
        }
        .name_s {
          flex: 1;
          padding-top: 15px;
          padding-left: 10px;
          .ndme {
            font-weight: 300;
            font-size: 14px;
            color: #7d7d7d;
          }
          .position {
            font-size: 12px;
            font-weight: 500;
            color: #808080;
            margin: 0px;
          }
        }
      }
      .basic_info {
        padding-top: 20px;
        .basic_ {
          padding: 0px 20px;
          .bi {
            font-size: 11px;
            font-weight: bold;
            color: #b5b5b5;
            cursor: pointer;
            .jduet {
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              transform: rotate(180deg);
              color: #CDDC39 !important;
            }
          }
        }
        .vui {
          display: none;
          .viu {
            li {
              padding: 6px 20px;
              display: flex;
              flex: 1;
              align-items: center;
              justify-content: flex-start;
              .cfe {
                padding-right: 10px;
                .icon {
                  font-size: 18px;
                  color: #b5b5b5;
                }
              }
              .sped, .part, .chat {
                .icon {
                  font-size: 19px;
                }
              }
              .set, .comp, .brief {
                .icon {
                  font-size: 20px;
                }
              }
              a {
                font-size: 11px;
                text-transform: uppercase;
                font-weight: 500;
                color: #b5b5b5;
                text-decoration: none;
              }
            }
            .actives {
              // background-color: #f5f5f5;
              &:before {
                content: "";
                position: absolute;
                width: 4px;
                height: 39px;
                background-color: #31e4a3;
                left: 0;
                margin-top: -13px;
              }
              &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 39px;
                background-color: rgba(0,0,0,.03);
                left: 0;
                margin-top: -13px;
              }
            }
          }
        }
        .dhetr  {
          display: block !important;
        }
      }
    }
    .top_n {
      padding-left: 20%;
      padding-top: 20px;
      padding-right: 40px;
      .brop {
        height: 80px;
        .wtf {
          -webkit-transform: translateY(0px) !important;
          -moz-transform: translateY(0px) !important;
          transform: translateY(0px) !important;
        }
        .gppx {
          float: right;
          .img_fg {
            padding-left: 20px;
            a {
              padding-top: 20px;
              .img_thumb {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 32px;
                height: 32px;
                border-radius: 100%;
                position: absolute;
                margin-top: -16px;
                margin-left: -16px;
              }
              &:hover {
                background-color: transparent !important;
              }
            }
          }
          .img_fg_2 {
            a {
              text-decoration: none;
              padding-top: 10px;
              padding-right: 20px;
              .icon {
                font-size: 23px;
                color: #626262;
              }
              .ic-brief {
                font-size: 22px;
              }
              &:hover {
                background-color: transparent !important;
              }
            }
          }
          .cart {
            a {
              padding-top: 8px;
              .icon {
                font-size: 24px;
              }
            }
          }
        }
        .nav_dash {
          display: flex;
          flex: 1;
          flex-direction: row;
          .left_sec {
            flex: .5;
            .hel {
              font-size: 23px;
              color: #7d7d7d;
              font-weight: 300;
            }
            .wel {
              font-size: 15px;
              color: #7d7d7d;
              font-weight: 300;
            }
          }
          .right_sec {
            flex: 1;
            .gpp {
              @extend .gppx;
            }
          }
        }
        .fix_nav {
          width: 78%;
          position: fixed;
          background-color: #fff;
          height: 65px;
          padding: 10px;
          top: 0px;
          left: 264px;
          border: 1px solid #f4f4f4;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          display: flex;
          align-items: center;
          z-index: 9999;
          -webkit-transform: translateY(-100px);
          -moz-transform: translateY(-100px);
          transform: translateY(-100px);
          transition: all .5s ease-in-out;
        .lef_nav {
          display: flex;
          flex: .3;
          .hel {
            font-size: 19px;
            color: #7d7d7d;
            font-weight: 300;
          }
        }
        .right_nav {
          display: flex;
          flex: 1;
          justify-content: flex-end;
          align-items: center;
          .gpp {
            @extend .gppx;
          }
        }
      }
      }
      .content_dash {
        padding-top: 40px;
        padding-bottom: 50px;
        .overview_ {
          float: left;
          height: 300px;
          background-color: #fff;
          border-radius: 2px;
          border: 1px solid #f4f4f4;
        }
        .begex {
          padding: 0px 10px;
          display: flex;
          border-bottom: 1px solid #f4f4f4;
          .title_ {
            flex: 1;
            padding: 10px 0px;
            padding-top: 12px;
            .pur {
              font-size: 11px;
              text-transform: uppercase;
              margin: 0px;
              font-weight: 500;
              color: #b5b5b5;
              text-decoration: none;
            }
          }
          .icons {
            flex: .1;
            display: flex;
            padding: 8px 0px;
            .colap {
              flex: 1;
              text-align: right;
              .sh {
                text-decoration: none;
                color: #b5b5b5;
                .ion-chevron-down {
                  font-size: 13px;
                }
              }
            }
            .showm {
              flex: 1;
              text-align: right;
              .sh {
                text-decoration: none;
                color: #b5b5b5;
                .ion-arrow-expand {
                  font-size: 16px;
                }
              }
            }
          }
        }
        .content_listx {
          display: flex;
          flex-direction: row;
          .img_thumb {
            flex: .15;
            height: 37px;
            padding-left: 10px;
            padding-top: 3px;
            .cftg {
              background-position: center;
              background-size: cover;
              width: 30px;
              height: 30px;
              border-radius: 4px;
            }
            &:after {
              content: "\F397";
              font-family: 'Ionicons';
              position: absolute;
              margin-left: 45px;
              margin-top: -27px;
              font-size: 18px;
              color: #b5b5b5;
            }
          }
          .name_p {
            flex: 1;
            height: 37px;
            display: flex;
            align-items: center;
            .ajny {
              font-size: 13px;
              font-weight: 300;
              color: #b5b5b5;
            }
          }
          .dat {
            flex: .3;
            height: 37px;
            display: flex;
            align-items: center;
            justify-content: center;
            .jhy {
              font-size: 13px;
              font-weight: 300;
              color: #b5b5b5;
            }
          }
          .pric {
            flex: .3;
            height: 37px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 30px;
            .jew {
              font-size: 13px;
              font-weight: 400;
              color: #b5b5b5;
            }
          }
        }
        .purchased {
          width: 70%;
          @extend .overview_;
          .purchased_content {
            .bege {
              @extend .begex;
            }
            .content_list {
              @extend .content_listx;
            }
          }
        }
        .reviews {
          width: 28%;
          @extend .overview_;
          margin-left: 20px;
          padding-top: 40px;
          background-color: #6381e6 !important;
          border: 1px solid #5a79e0;
          .phto {
            width: 130px;
            height: 130px;
            border-radius: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0 auto;
          }
          .narm {
            text-align: center;
            padding-top: 20px;
            .kewq {
              color: #B9C8F9;
              font-size: 18px;
              margin-bottom: 30px;
              font-weight: 700;
            }
            .more {
              font-size: 11px;
              color: #fff;
              font-weight: 600;
              padding: 7px 20px;
              border-radius: 20px;
              border: 2px solid #fff;
              text-decoration: none;
              outline: none;
            }
          }
        }
        .collev {
          @extend .overview_;
          width: 49%;
          margin-top: 20px;
          .collev_content {
            .bege {
              @extend .begex;
            }
            .content_list {
              @extend .content_listx;
              .img_thumb {
                flex: .19;
              }
            }
          }
        }
        .compare {
          @extend .overview_;
          width: 49%;
          margin-top: 20px;
          margin-left: 20px;
          .compare_content {
            .bege {
              @extend .begex;
            }
          }
        }
        .profile {
          width: 28%;
          @extend .overview_;
          margin-right: 20px;
          margin-top: 20px;
          background-color: #607D8B;
          border: 1px solid #4f788c;
          .jewkj {
            text-align: center;
            padding: 20px;
            padding-top: 60px;
            .txt_21 {
              color: #fff;
              font-size: 18px;
              font-weight: 700;
            }
            .numb {
              @extend .txt_21;
              margin-top: 10px;
              font-weight: 500;
              color: #fff;
              font-size: 85px;
            }
            .esd {
              font-size: 11px;
              color: #fff;
              font-weight: 600;
              padding: 7px 20px;
              border-radius: 20px;
              border: 2px solid #fff;
              text-decoration: none;
              outline: none;
            }
          }
        }
        .favshop {
          width: 70%;
          @extend .overview_;
          margin-top: 20px;
          .favshop_content {
            .bege {
              @extend .begex;
            }
            .content_list {
              @extend .content_listx;
            }
          }
        }
      }
    }
  }
}

// dropdown_global
.prf, .img_fg {
  margin-right: 20px;
  .dtrt_ {
    width: 250px;
    right: -30px;
    margin-top: 10px !important;
    border-color: rgba(0,0,0,.08);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.09);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.09);
    border-radius: 2px !important;
    .profile_ {
      display: flex;
      flex: 1;
      flex-direction: row;
      padding: 10px;
      border-bottom: 1px solid rgba(0,0,0,.08);
      height: 60px;
      padding-top: 5px;
      .pto {
        flex: .25;
        .bg_profile_big {
          width: 40px;
          height: 40px;
          background-size: cover;
          border-radius: 100%;
          position: absolute;
        }
      }
      .txcs {
        flex: .7;
        padding-top: 3px;
        .greeting {
          font-weight: 300;
          color: #8c8c8c;
          font-size: 12px;
          margin: 0px;
        }
        .name_d {
          font-size: 14px;
          font-weight: 500;
          color: #626262;
        }
      }
    }
    .cvft {
      a {
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 14px;
        font-weight: 300;
        color: #757575;
      }
    }
    .lgt {
      border-top: 1px solid rgba(0,0,0,.08);
    }
    &:before {
      top: -22px;
      left: 21px;
      border-width: 11px;
      border-color: transparent transparent rgba(0, 0, 0, 0.5);
      right: 25px;
      left: auto;
      position: absolute;
      display: block;
      border-style: solid;
      content: '';
    }
    &:after {
      top: -22px;
      left: 21px;
      border-width: 11px;
      border-color: transparent transparent #fff;
      right: 25px;
      left: auto;
      position: absolute;
      display: block;
      border-style: solid;
      content: '';
    }
  }
  .fgrt_ {
    right: auto;
    left: -178px !important;
    margin-top: 20px !important;
  }
  &:after {
    content: "\F104";
    font-family: 'Ionicons';
    position: absolute;
    right: -15px;
    font-size: 9px;
    margin-top: -20px;
    color: #757575;
  }
}

// user setting
.user-setting {
  background-color: #fff;
  border: 1px solid #f4f4f4;
  padding: 40px 60px;
  padding-bottom: 10px;
  border-radius: 3px;
  margin-bottom: 40px;
  .personal-info, .preferences, .adresses, .bank {
    padding-bottom: 30px;
    .hed {
      display: flex;
      flex:1;
      flex-direction: row;
      align-items: center;
      .tirl {
        flex: .5;
        display: flex;
        justify-content: flex-start;
        .teq {
          font-size: 11px;
          text-transform: uppercase;
          font-weight: 500;
          color: #b5b5b5;
          text-decoration: none;
        }
      }
      .clap {
        flex: .5;
        display: flex;
        justify-content: flex-end;
        .cage {
          width: 20px;
          height: 20px;
          background-color: #f2f2f2;
          border-radius: 100%;
          text-align: center;
          background-color: rgba(3, 169, 244, .5);
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          transform: rotate(180deg);
          border: 1px solid #03a9f4;
          .icon {
            font-size: 16px;
            color: #fff;
          }
        }
      }
    }
  }
  .personal-info {
    .anhtry {
      display: none;
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      .personal-content, .frm_setting {
        display: flex;
        flex: 1;
        flex-direction: row;
        padding-right: 10%;
        .img_pro {
          display: flex;
          flex: .2;
          justify-content: flex-start;
          padding-top: 30px;
          flex-direction: column;
          .img_update {
            width: 150px;
            height: 150px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 3px;
          }
          .btn-profile {
            text-transform: uppercase;
            color: #fff;
            background-color: #03A9F4;
            padding: 6px 30px;
            width: 97%;
            font-size: 11px;
            font-weight: 600;
            margin-top: 10px;
            outline: none;
            box-shadow: none;
            border: 1px solid #0092d4;
          }
        }
        .form_pro {
          display: flex;
          padding-top: 30px;
          flex: .8;
          justify-content: flex-start;
          flex-direction: column;
          padding-left: 50px;
          .form-group {
            label {
              font-weight: 500;
              color: #b5b5b5;
              font-size: 11px;
              text-transform: uppercase;
            }
            .form-control {
              border-radius: 2px;
              outline: none;
              box-shadow: none;
              color: #9c9c9c;
              border-color: #d8d8d8;
              font-size: 12px;
            }
            .react-datepicker-ignore-onclickoutside, .react-datepicker__input-container {
              display: block;
              width: 100%;
              height: 34px;
              padding: 6px 12px;
              font-size: 14px;
              line-height: 1.42857143;
              color: #9c9c9c;
              background-color: #fff;
              background-image: none;
              border: 1px solid #ccc;
              border-radius: 4px;
              -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
              box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
              -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
              -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
              transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
              border-radius: 2px;
              outline: none;
              box-shadow: none;
              border-color: #d8d8d8;
            }
            .react-datepicker__input-container {
              input {
                border: none;
                outline: none;
                // margin-top: 4px;
                // height: 0px;
                // margin-left: -10px;
              }
            }
          }
          .xfdt {
            display: flex;
            flex: 1;
            flex-direction: row;
            align-items: flex-start;
            .bfhr, .lser {
              display: flex;
              flex-direction: column;
              flex: 1;
            }
            .lser {
              padding-left: 20px;
            }
          }
        }
      }
    }
  }
  .adresses, .bank {
    .afress {
      padding-top: 30px;
      display: none;
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      .btn-new-adress {
        text-transform: uppercase;
        color: #fff;
        background-color: #03A9F4;
        padding: 6px 35px;
        font-size: 11px;
        font-weight: 600;
        margin-top: 10px;
        outline: none;
        box-shadow: none;
        border: 1px solid #0092d4;
      }
      .dheiuy {
        padding-top: 40px;
        .chft {
          display: flex;
          flex-direction: row;
          align-items: center;
          flex: 1;
          margin: 0px;
          .name {
            flex: .25;
            display: flex;
            padding: 9px 0px;
            padding-left: 10px;
            background-color: #cacee2;
            font-size: 11px;
            color: #ffffff;
            font-weight: 600;
            border-top-left-radius: 3px;
            border-right: 1px solid #bbc1de;
            text-transform: capitalize;
          }
          .receiver {
            flex: .25;
            display: flex;
            padding: 9px 0px;
            padding-left: 10px;
            background-color: #cacee2;
            font-size: 11px;
            color: #ffffff;
            font-weight: 600;
            border-left: 1px solid #d5d7e2;
            border-right: 1px solid #bbc1de;
            text-transform: capitalize;
          }
          .phone {
            flex: .25;
            display: flex;
            padding: 9px 0px;
            padding-left: 10px;
            text-transform: capitalize;
            background-color: #cacee2;
            font-size: 11px;
            color: #ffffff;
            font-weight: 600;
            border-left: 1px solid #d5d7e2;
            border-right: 1px solid #bbc1de;
          }
          .adres {
            flex: .6;
            display: flex;
            padding: 9px 0px;
            padding-left: 10px;
            background-color: #cacee2;
            text-transform: capitalize;
            font-size: 11px;
            color: #ffffff;
            font-weight: 600;
            border-left: 1px solid #d5d7e2;
            border-right: 1px solid #bbc1de;
          }
          .action {
            flex: .2;
            display: flex;
            padding: 9px 0px;
            padding-left: 10px;
            background-color: #cacee2;
            font-size: 11px;
            color: #ffffff;
            font-weight: 600;
            border-top-right-radius: 3px;
            border-left: 1px solid #d5d7e2;
            justify-content: center;
            align-items: center;
            flex-direction: row;
          }
        }
        .cgyuo {
          margin: 0px;
          padding: 0px;
          .name, .receiver, .phone, .adres {
            background-color: transparent;
            color: #9c9c9c;
            border: none;
            align-items: center;
            height: 50px;
            font-size: 12px;
            font-weight: 400;
            border-radius: 0px !important;
          }
          .action {
            background-color: transparent;
            color: #9c9c9c;
            border: none;
            border-radius: 0px !important;
            height: 50px;
            font-size: 12px;
            .fa {
              font-size: 14px;
              margin: 0px 5px;
            }
          }
        }
        .cgyuo_ {
          background-color: #f7f7f7 !important;
        }
      }
    }
  }
  .preferences {
    .pref {
      padding-top: 30px;
      display: none;
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      .language, .notif {
        .tileo {
          padding: 9px 0px;
          background-color: #cacee2;
          padding-left: 9px;
          margin: 0px;
          font-size: 11px;
          color: #ffffff;
          font-weight: 600;
          border-top-left-radius: 3px;
          border-right: 1px solid #bbc1de;
          text-transform: uppercase;
          border-top-right-radius: 3px;
        }
        .contr {
          padding: 5px 20px;
          background-color: #f9f9f9;
          border: 1px solid #eaeaea;
          border-top: none;
          .dget {
            font-size: 12px;
            color: #b5b5b5;
            font-weight: 500;
          }
          .form-group {
            padding-top: 5px;
            .form-control {
              border-radius: 2px;
              outline: none;
              box-shadow: none;
              color: #9c9c9c;
              border-color: #d8d8d8;
            }
          }
        }
        .jtuy {
          .form-group {
            label {
              .ney {
                margin-bottom: 3px;
                font-weight: 500;
                color: #626262;
              }
              .bstr {
                font-weight: 300;
                color: #b5b5b5;
              }
            }
          }
        }
      }
      .notif {
        margin-top: 20px;
      }
    }
  }
  .showcollapse {
    display: block !important;
  }
  .norotate {
    background-color: #CDDC39 !important;
    -webkit-transform: rotate(0deg) !important;
    -moz-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    border: 1px solid #a3af29 !important;
  }
  .update-info {
    position: fixed;
    right: 40px;
    z-index: 999999;
    top: 10px;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px 20px;
    padding-left: 60px;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.05);
    border: 1px solid #ececec;
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    transform: translateY(-80px);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    .djwty {
      color: #626262;
      font-size: 18px;
      font-weight: 500;
      &:before {
        content: "\f2ad";
        font-family: 'Ionicons';
        position: absolute;
        left: 20px;
        font-size: 2em;
        color: #CDDC39;
        margin-top: -5px;
      }
    }
    .twre {
      margin: 0px;
      font-size: 13px;
      color: #626262;
    }
  }
  .update-info-hover {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
  }
}

// Collection
.collex , .reviwq, .comparex, .favorie{
      .grus {
        display: flex;
        flex: 1;
        flex-direction: row;
        flex-wrap: wrap;
        .colect {
          padding: 2.5px;
          width: 260px;
          .ajetw {
            height: 250px;
            background-color: #fff;
            border-radius: 3px;
            border: 1px solid #f5f5f5;
            -webkit-box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.03);
            -moz-box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.03);
            box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.03);
            .imagert {
              padding-top: 30px;
              text-align: center;
              .djr {
                width: 100px;
                height: 100px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                margin: 0 auto;
                border-radius: 100%;
              }
              .najrt {
                padding-top: 10px;
                font-weight: 500;
                color: #626262;
                margin-bottom: 5px;
              }
              .dv-star-rating-star {
                font-size: 18px !important;
              }
              .dqwpi {
                display: flex;
                flex: 1;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding-top: 30px;
                .dhery, .djqo, .djqpi {
                  flex: 1;
                  display: flex;
                  justify-content: center;
                  border-top: 1px solid #f4f4f4;
                  padding-top: 10px;
                  padding-bottom: 14px;
                  .icon {
                    font-size: 20px;
                  }
                }
                .djqo {
                  border-left: 1px solid #f4f4f4;
                  border-right: 1px solid #f4f4f4;
                }
                .ndhur {
                  border-left: 1px solid #f4f4f4;
                  .ion-ios-heart {
                    color: #F44336;
                  }
                }
              }
              .newqyt {
                padding-top: 0px;
              }
            }
          }
        }
      }
    }

.kor {
  background-color: rgba(0,0,0,.5);
  .modal-dialog {
    width: 540px;
    .modal-content {
      border-radius: 3px;
      .modal-header {
        .close {
          width: 20px;
          height: 20px;
          outline: none;
          border-radius: 100%;
          background-color: #cacaca;
          font-size: 15px;
          border: 1px solid #626262;
          margin-top: 2px !important;
        }
        .modal-title {
          font-weight: 300;
          color: #626262;
        }
      }
      .modal-body {
        background-color: #f2f2f2;
        .body-content {
          .form-add {
            .prov {
              padding-left: 0px;
            }
            .rege {
              padding: 0px;
            }
            .dist {
              padding-right: 0px;
            }
            .form-group {
              span {
                font-size: 11px;
                text-transform: uppercase;
                font-weight: 500;
                color: #b5b5b5;
                text-decoration: none;
              }
              .rvi {
                .form-control {
                  box-shadow: none;
                  outline: none;
                  height: 40px;
                  border: 1px solid #e0e0e0;
                  color: #9c9c9c;
                  text-transform: capitalize;
                  font-size: 12px;
                }
                .posy {
                  height: 60px;
                }
              }
            }
          }
        }
      }
      .modal-footer {
        border: none;
        background-color: #f2f2f2;
        .bry {
          background-color: #CDDC39 !important;
          border: 1px solid #a3af29 !important;
          color: #fff;
          font-weight: 700;
          font-size: 12px;
          padding: 5px 30px;
          border-radius: 3px;
        }
      }
      .loading_ {
        position: fixed;
        z-index: 99999;
        width: 538px;
        top: 1px;
        height: 540px;
      }
    }
  }
}
// animation loading_
.line-scale-pulse-in {
  display: block !important;
}
.line-scale-pulse-out {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px !important;
  left: 0;
  padding-left: 46%;
  padding-top: 42%;
  display: none;
}
.line-scale-pulse-out>div:nth-child(1), .line-scale-pulse-out>div:nth-child(5) {
  -webkit-animation-delay: -.2s!important;
  animation-delay: -.2s!important;
}
.line-scale-pulse-out>div {
  -webkit-animation: line-scale-pulse-out .9s -.6s infinite cubic-bezier(.85,.25,.37,.85);
  animation: line-scale-pulse-out .9s -.6s infinite cubic-bezier(.85,.25,.37,.85);
}
.line-scale-party>div, .line-scale-pulse-out-rapid>div, .line-scale-pulse-out>div, .line-scale>div, .line-spin-fade-loader>div {
  border-radius: 2px;
  margin: 2px;
  background-color: #31e4a3 !important;
}
.line-scale-party>div, .line-scale-pulse-out-rapid>div, .line-scale-pulse-out>div, .line-scale>div {
  width: 4px;
  height: 35px;
  display: inline-block;
}
.line-scale-pulse-out>div:nth-child(2), .line-scale-pulse-out>div:nth-child(4) {
  -webkit-animation-delay: -.4s!important;
  animation-delay: -.4s!important;
}
.line-scale-pulse-out>div {
  -webkit-animation: line-scale-pulse-out .9s -.6s infinite cubic-bezier(.85,.25,.37,.85);
  animation: line-scale-pulse-out .9s -.6s infinite cubic-bezier(.85,.25,.37,.85);
}
.line-scale-pulse-out>div {
  -webkit-animation: line-scale-pulse-out .9s -.6s infinite cubic-bezier(.85,.25,.37,.85);
  animation: line-scale-pulse-out .9s -.6s infinite cubic-bezier(.85,.25,.37,.85);
}
.line-scale-pulse-out>div:nth-child(2), .line-scale-pulse-out>div:nth-child(4) {
  -webkit-animation-delay: -.4s!important;
  animation-delay: -.4s!important;
}
.line-scale-pulse-out>div {
  -webkit-animation: line-scale-pulse-out .9s -.6s infinite cubic-bezier(.85,.25,.37,.85);
  animation: line-scale-pulse-out .9s -.6s infinite cubic-bezier(.85,.25,.37,.85);
}
.line-scale-pulse-out>div:nth-child(1), .line-scale-pulse-out>div:nth-child(5) {
  -webkit-animation-delay: -.2s!important;
  animation-delay: -.2s!important;
}
.line-scale-pulse-out>div {
  -webkit-animation: line-scale-pulse-out .9s -.6s infinite cubic-bezier(.85,.25,.37,.85);
  animation: line-scale-pulse-out .9s -.6s infinite cubic-bezier(.85,.25,.37,.85);
}
@-webkit-keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1); }
  50% {
    -webkit-transform: scaley(0.4);
            transform: scaley(0.4); }
  100% {
    -webkit-transform: scaley(1);
            transform: scaley(1); } }
@keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1); }
  50% {
    -webkit-transform: scaley(0.4);
            transform: scaley(0.4); }
  100% {
    -webkit-transform: scaley(1);
            transform: scaley(1); } }
@-webkit-keyframes line-scale-pulse-out-rapid {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1); }
  80% {
    -webkit-transform: scaley(0.3);
            transform: scaley(0.3); }
  90% {
    -webkit-transform: scaley(1);
            transform: scaley(1); } }
@keyframes line-scale-pulse-out-rapid {
  0% {
    -webkit-transform: scaley(1);
            transform: scaley(1); }
  80% {
    -webkit-transform: scaley(0.3);
            transform: scaley(0.3); }
  90% {
    -webkit-transform: scaley(1);
            transform: scaley(1); } }



}
